.simple-top-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $bgColor;
  width: 100%;
  position: sticky;
  font-style: italic;
  font-weight: 700;
  min-height: 2.4rem;

  a {
    text-decoration: none;
    color: inherit;
  }

  #simple-top-banner__close-btn {
    background: none;
    border: none;
    font: inherit;
  }
}
