#simple-top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  min-height: $bannerHeight;
  position: sticky;
  background: $bgColor;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: $fontSize;

  a {
    color: inherit;
    text-decoration: none;
    transition: 0.3 all;
  }

  a:hover {
    text-decoration: underline;
  }

  #simple-top-banner__close-btn {
    background: none;
    border: none;
    font: inherit;
  }
}
