#simple-top-banner {
  display: grid;
  place-items: center;
  min-height: $bannerHeight;
  background: $bgColor;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: $fontSize;
  text-align: center;
  position: relative;

  a {
    color: inherit;
    text-decoration: none;
    transition: 0.3 all;
  }

  a:hover {
    text-decoration: underline;
  }

  #simple-top-banner__close-btn {
    background: none;
    border: none;
    font: inherit;
    position: absolute;
    height: fit-content;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
