.simple-top-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(191, 214, 51);
  width: 100%;
  position: sticky;
  font-style: italic;
  font-weight: 700;
  height: 2.4rem;
}
