#simple-top-banner-wrapper {
  background: $bgColor;
  width: 100vw;
}

.simple-top-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  min-height: $bannerHeight;
  font-size: $fontSize;
  gap: 0.5rem;

  a {
    text-decoration: none;
    color: inherit;
    transition: 0.3 all;
  }

  a:hover {
    text-decoration: underline;
  }

  #simple-top-banner__close-btn {
    background: none;
    border: none;
    font: inherit;
  }
}
