#simple-top-banner {
  display: grid;
  position: sticky;
  place-items: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
  min-height: $bannerHeight;
  background: $bgColor;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: $fontSize;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    grid-column: 2 / 6;
  }

  a:hover {
    text-decoration: underline;
  }

  #simple-top-banner__close-btn {
    grid-column: 6 / -1;
    display: grid;
    place-items: center;
    background: none;
    border: none;
    font: inherit;
    transition: all 0.3s;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
  }

  #simple-top-banner__close-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}
