#simple-top-banner {
  display: grid;
  place-items: center;
  min-height: $bannerHeight;
  background: $bgColor;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: $fontSize;
  text-align: center;
  position: relative;

  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }

  a:hover {
    text-decoration: underline;
  }

  #simple-top-banner__close-btn {
    display: grid;
    place-items: center;
    background: none;
    border: none;
    font: inherit;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
  }

  #simple-top-banner__close-btn:hover {
    transform: scale(1.1);
    transform: translateY(-50%);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}
